---
import Plantilla from '../plantillas/Plantilla.astro';
---

<Plantilla
  titulo=""
  descripcion="Proyectos de visualización de datos para Colev desarrollados por el Laboratorio EnFlujo."
  imagen="https://colev.enflujo.com/imgs/colev-enflujo_og.webp"
>
  <main>
    <svg id="contenedor"></svg>
    <canvas id="lienzo"></canvas>
    <div id="filtros">
      <div id="todos" class="filtro seleccionado">Todos</div>
      <div id="tipos" class="filtro">Por tipos</div>
      <input
        type="datetime-local"
        id="filtroDesde"
        value="2018-06-12T19:30"
        min="2018-06-07T00:00"
        max="2018-06-14T00:00"
      />

      <input
        type="datetime-local"
        id="filtroHasta"
        value="2018-06-12T19:30"
        min="2018-06-07T00:00"
        max="2018-06-14T00:00"
      />
    </div>
  </main>
</Plantilla>

<script>
  import dayjs, { Dayjs } from 'dayjs';
  import utc from 'dayjs/plugin/utc';
  import zonaHoraria from 'dayjs/plugin/timezone';
  import { convertirEscala } from '@enflujo/alquimia';
  import { axisBottom, axisRight, scaleLinear, scaleTime, select, zoom, zoomIdentity } from 'd3';
  import type { Selection, D3ZoomEvent, ZoomTransform } from 'd3';
  import type { TuitsDatos, TuitsPorHora, TuitsTipos, FuenteDatos } from '../tipos';
  import { procesarDatos } from '../utilidades/lineaTuits/procesarDatos';

  const servidorUrl = 'http://localhost:8080/tally';

  const fuente: FuenteDatos = {
    todos: { maximo: 0, datos: [] },
    tipos: { maximo: 0, datos: [] },
    quoted: { maximo: 0, datos: [] },
    replied_to: { maximo: 0, datos: [] },
    original: { maximo: 0, datos: [] },
    retweeted: { maximo: 0, datos: [] },
  };
  const zona = 'America/Bogota';
  dayjs.extend(utc);
  dayjs.extend(zonaHoraria);

  const escalaMax = 500;
  const margen = { arriba: 20, der: 60, abajo: 50, izq: 30 };
  const dims = { ancho: 0, alto: 0, rangoY: margen.abajo };
  const dimsGrafica = { ancho: 0, alto: 0 };
  const duracion = 250;
  const svg = select('#contenedor');
  const lienzo: Selection<HTMLCanvasElement, unknown, HTMLElement, any> = select('#lienzo');
  const ctx = lienzo?.node()?.getContext('2d') as CanvasRenderingContext2D;
  const indicadorX = svg.append('g').attr('class', 'eje').attr('id', 'ejeX');
  const indicadorY = svg.append('g').attr('class', 'eje').attr('id', 'ejeY');
  const ejeX = scaleTime();
  const ejeY = scaleLinear();
  const lupa = zoom<HTMLCanvasElement, unknown>().scaleExtent([1, 1000]).on('zoom', escalar);

  const filtroTodos = document.getElementById('todos') as HTMLDivElement;
  const filtroTipos = document.getElementById('tipos') as HTMLDivElement;
  const filtros = document.getElementById('filtros');
  let tipo = 'todos';
  let fechaInicial: Dayjs;
  let fechaFinal: Dayjs;

  cargarDatosTodos();

  function cambiarTipo(elemento: HTMLDivElement, tipoSeleccionado: TuitsTipos) {
    if (tipo === tipoSeleccionado) return;
    filtros?.querySelector('.seleccionado')?.classList.remove('seleccionado');
    elemento.classList.add('seleccionado');
    tipo = tipoSeleccionado;

    const { maximo } = fuente[tipoSeleccionado];
    actualizarEjeY(maximo);
    indicadorY.transition().duration(duracion).call(axisRight(ejeY));

    pintar(zoomIdentity);
  }

  filtroTodos.onclick = async () => {
    if (!fuente.todos.datos.length) {
      await cargarDatosTodos();
    }

    cambiarTipo(filtroTodos, 'todos');
  };

  filtroTipos.onclick = async () => {
    if (!fuente.tipos.datos.length) {
      await cargarDatosPorTipos();
    }
    cambiarTipo(filtroTipos, 'tipos');
  };

  async function cargarDatosPorTipos() {
    const datosTipos = await fetch(`${servidorUrl}/tuits-por-hora-tipo`)
      .then((respuesta) => respuesta.json())
      .then(procesarDatos);

    if (datosTipos.length) {
      fuente.tipos.maximo = Math.max(...datosTipos.map((d: TuitsPorHora) => d.valor));
    }

    fuente.tipos.datos = datosTipos;
  }

  async function cargarDatosTodos() {
    const datos = await fetch(`${servidorUrl}/tuits-por-hora`)
      .then((respuesta) => respuesta.json())
      .then(procesarDatos);

    fuente.todos.datos = datos;
    fuente.todos.maximo = Math.max(...datos.map((d: TuitsPorHora) => d.valor));
    fechaInicial = dayjs.tz(datos[0].fecha, zona);
    fechaFinal = dayjs.tz(datos[datos.length - 1].fecha, zona);
    actualizarEjeX(fechaInicial.toDate(), fechaFinal.toDate());

    inicio();
  }

  function inicio() {
    const { maximo } = fuente[tipo];
    actualizarEjeY(maximo);
    actualizarDimensiones();
    lienzo.call(lupa);

    window.onresize = actualizarDimensiones;
  }

  function color(tipo: string, opacidad: number): string {
    const colores: { [color: string]: string } = {
      todos: `rgba(62, 255, 207, ${opacidad})`, // verde
      quoted: `rgba(255, 217, 114, ${opacidad})`, // amarillo
      replied_to: `rgba(137, 209, 248, ${opacidad})`, // azul
      original: `rgba(62, 255, 207, ${opacidad})`, // verde
    };

    return colores[tipo];
  }

  function pintar(transformacion: ZoomTransform) {
    ctx.clearRect(0, 0, dims.ancho, dims.alto);
    const escala = transformacion.k;

    const anchoMax = 20;
    const ancho = convertirEscala(escala, 1, escalaMax, 0.5, anchoMax);
    const opacidad = convertirEscala(escala, 1, 60, 0.3, 0.8);
    const centroX = ancho * 0.5;

    const { datos } = fuente[tipo];

    if (tipo === 'todos') {
      ctx.fillStyle = color('todos', opacidad);
      datos.forEach((punto) => {
        const xSinTransformacion = ejeX(punto.fecha);
        const [x] = transformacion.apply([xSinTransformacion, 0]);
        const y = ejeY(punto.valor);

        ctx.fillRect(x - centroX, y, ancho, dimsGrafica.alto - y);

        if (escala > escalaMax / 4) {
          ctx.save();
          ctx.fillStyle = 'white';
          ctx.fillText(`${punto.valor}`, x - centroX, y - 5);
          ctx.restore();
        }
      });
    } else {
      datos.forEach((punto) => {
        if (punto.tipo) {
          const xSinTransformacion = ejeX(punto.fecha);
          const [x] = transformacion.apply([xSinTransformacion, 0]);
          let baseValor = 0;
          let piso = dimsGrafica.alto;
          let _y = dimsGrafica.alto;

          if (punto.tipo.original) {
            const y = ejeY(punto.tipo.original);

            ctx.fillStyle = color('original', opacidad);
            ctx.fillRect(x - centroX, y, ancho, _y - y);
            baseValor = punto.tipo.original;
            _y = y;

            if (escala > escalaMax / 4) {
              ctx.fillText(`${punto.tipo.original}`, x - 30, y - 5);
            }
          }

          if (punto.tipo.quoted) {
            const y = ejeY(punto.tipo.quoted + baseValor);

            ctx.fillStyle = color('quoted', opacidad);
            ctx.fillRect(x - centroX, y, ancho, _y - y);
            baseValor = punto.tipo.quoted + baseValor;
            _y = y;

            if (escala > escalaMax / 4) {
              ctx.fillText(`${punto.tipo.quoted}`, x - 30, y - 5);
            }
          }

          if (punto.tipo.replied_to) {
            const y = ejeY(punto.tipo.replied_to + baseValor);

            ctx.fillStyle = color('replied_to', opacidad);
            ctx.fillRect(x - centroX, y, ancho, _y - y);
            baseValor = punto.tipo.replied_to + baseValor;
            _y = y;

            if (escala > escalaMax / 4) {
              ctx.fillText(`${punto.tipo.replied_to}`, x - 30, y - 5);
            }
          }

          if (punto.tipo.retweeted) {
            const y = ejeY(punto.tipo.retweeted + baseValor);

            ctx.fillStyle = color('retweeted', opacidad);
            ctx.fillRect(x - centroX, y, ancho, _y - y);
            baseValor = punto.tipo.retweeted + baseValor;
            _y = y;

            if (escala > escalaMax / 4) {
              ctx.fillText(`${punto.tipo.retweeted}`, x - 30, y - 5);
            }
          }
        }
      });
    }
  }

  function escalar({ transform }: D3ZoomEvent<SVGElement, TuitsDatos>) {
    indicadorX
      .transition()
      .duration(duracion)
      .call(axisBottom(transform.rescaleX(ejeX)).ticks(24));

    pintar(transform);
  }

  function actualizarDimensiones() {
    dims.ancho = window.innerWidth;
    dims.alto = window.innerHeight - 100;
    dimsGrafica.ancho = dims.ancho - margen.izq - margen.der;
    dimsGrafica.alto = dims.alto - margen.abajo - margen.arriba;
    svg.attr('width', dims.ancho).attr('height', dims.alto);

    lienzo
      .attr('width', dimsGrafica.ancho)
      .attr('height', dimsGrafica.alto)
      .attr('style', `left:${margen.izq}px; top:${margen.arriba}px;`);

    lupa.translateExtent([
      [0, 0],
      [dimsGrafica.ancho, dimsGrafica.alto],
    ]);

    ejeX.range([0, dimsGrafica.ancho]);
    ejeY.range([dimsGrafica.alto, 0]);

    indicadorY
      .attr('transform', `translate(${dims.ancho - margen.der},${margen.arriba})`)
      .transition()
      .duration(duracion)
      .call(axisRight(ejeY));

    indicadorX
      .attr('transform', `translate(${margen.izq},${dimsGrafica.alto + margen.arriba})`)
      .transition()
      .duration(duracion)
      .call(axisBottom(ejeX));

    pintar(zoomIdentity);
  }

  function actualizarEjeX(inicio: Date, fin: Date) {
    ejeX.domain([inicio, fin]);
  }

  function actualizarEjeY(max: number) {
    ejeY.domain([0, max]);
  }
</script>

<style lang="scss" is:global>
  $verde: #3effd0;
  $verdeO1: rgba(62, 255, 207, 1);
  $negro: #22181c;
  $morado: #5300ff;
  $rojo: #f45b69;
  $amarillo: rgb(255, 217, 114);
  $azul: rgb(137, 209, 248);
  $blanco: #f9f2f5;
  html {
    box-sizing: border-box;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }

  html {
    background-color: $negro;
    color: $blanco;
    font-family: 'Courier New', 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  }

  ::selection {
    background-color: #9cadac9a;
    color: #e2e2e2;
  }

  #contenedor {
    position: absolute;
    pointer-events: none;
  }

  #lienzo {
    position: absolute;
  }

  #filtros {
    display: flex;
    z-index: 9;
    position: absolute;
    bottom: 20px;
    width: 100vw;
    justify-content: center;
    .filtro {
      border: 1px solid $verde;
      padding: 0.5em;
      margin-right: 0.5em;
      cursor: pointer;

      &.seleccionado {
        background-color: rgba($verde, 0.3);
      }
    }
  }
</style>
